Sample_ePOS_LANE/Install.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sms="/office/sms-xsd-form" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="install">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Sample_ePOS_LANE">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="EPOS_LANE_TYPE" sms:label="What POS lane type do you want to install?">
								<xs:simpleType>
									<xs:restriction>
										<xs:enumeration value="STD" sms:caption="Grocery"/>
										<xs:enumeration value="RESTO" sms:caption="Bistro"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
